<html>
  <head>
    <title>{{ web_name }}</title>
<style>
    h1 {
	    color: red;
	    font-family: arial;
	    font-size: 160%;
	    text-align: center;
            margin-top: 100px;
    }
    p {
	    color: black;
	    font-family: courier;
	    text-align: center;
    }
</style>
  </head>
  <body>
	  <h1>Welcome to the <strong>{{ web_name }}</strong> Homepage</p>
          <img src="images/webimg.jpg" height=30% align=center alt"Marines!">
	  <p>This page shows the power of ansible!</p>
  </body>
</html>
